extends layout

block title
  = "Starphleet Dashboard"

block content
  div.gridster
    ul
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='2')
        div(data-id='orders', data-view='Orders', data-unordered='true', data-title='Orders', data-moreinfo='')
      li(data-row='1', data-col='2', data-sizex='1', data-sizey='1')
        div(data-id='cpu', data-view='Graph', data-title='CPU', data-min='0', data-max='110')
      li(data-row='1', data-col='3', data-sizex='1', data-sizey='1')
        div(data-id='ram', data-view='Meter', data-title='RAM', data-min='0', data-max='100')
      li(data-row='1', data-col='4', data-sizex='1', data-sizey='1')
        div(data-id='disk', data-view='Meter', data-title='Disk', data-min='0', data-max='100')
      li(data-row='2', data-col='2', data-sizex='3', data-sizey='1')
        div(data-id='logs', data-view='Terminal', data-title='Logs')
