extends layout

block title
  | My dashboard title

block content
  div.gridster
    ul
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='2')
        div(data-id='buzzwords', data-view='List', data-unordered='true', data-title='Buzzwords', data-moreinfo='# of times said around the office')
      li(data-row='1', data-col='2', data-sizex='1', data-sizey='1')
        div(data-id='cpu', data-view='Graph', data-title='CPU', data-min='0', data-max='100', style='background-color:#ff9618')
