// ----------------------------------------------------------------------------
// Terminal widget styles
// ----------------------------------------------------------------------------
.widget-terminal {

  margin: 0px !important;
  padding: 0px !important;
  text-align: left !important;

  .terminal {
    padding: 10px !important;
  }

}
